.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(199, 199, 199, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px 12px 12px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 15px;
  height: 15px;
  padding: 0;

  border: none;
  border-radius: 5px;

  background-color: white;
  color: black;

  cursor: pointer;
  transition: 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.button:hover,
.button:focus {
  color: red;
}

.icon {
  width: 10px;
  height: 10px;
}
